td,
th {
  vertical-align: middle !important;
}
span {
  font-size: 3rem;
}

.item {
  max-width: 70% !important;
}

.amount {
  max-width: 15% !important;
}

img{
  width:40%;
  filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(86deg) brightness(118%) contrast(119%);

}

